[submodule "packages/art-engine"]
	path = packages/art-engine
	url = https://github.com/baringji/art-engine
[submodule "packages/nft-contract"]
	path = packages/nft-contract
	url = https://github.com/baringji/nft-contract
[submodule "packages/nft-minting-dapp"]
	path = packages/nft-minting-dapp
	url = https://github.com/baringji/nft-minting-dapp
